<%- include('header'); -%>
<table>
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Mobile Number</td>
        <td>Email Address</td>
    </tr>
    <tr>
        <td>James Pearson</td>
        <td>Al Qusais</td>
        <td>+971542353475</td>
        <td>james.john@email.con</td>
    </tr>
</table>
<%- include('footer'); -%>